@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap");
* {
  padding: 0;
  margin: 0;
  word-break: keep-all;
  box-sizing: border-box;
  font-family: 'Nanum Gothic', sans-serif;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
}

.wrap {
  width: 80%;
  transition: .2s ease;
  margin: auto;
}

.box {
  margin: auto;
  padding: 80px 0;
}

.paddingBox {
  height: 90px;
}

header {
  position: fixed;
  z-index: 30;
  width: 100%;
}

.head {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 90px;
  background: rgba(255, 255, 255, 0.97);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.07);
  backdrop-filter: blur(2px);
}

.head.on {
  height: 100vh;
  position: fixed;
  animation: fade .4s ease forwards;
}

.head.on > .pc_menu {
  align-items: unset;
  justify-content: flex-end;
}

.head.on > .pc_menu > .logo {
  display: none;
}

.head.on > .pc_menu > .menu {
  display: none;
}

.head > .pc_menu {
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head > .pc_menu > .logo {
  font-size: 0;
}

.head > .pc_menu .logo1 {
  width: 90%;
  transition: .2s ease;
}

.head > .pc_menu > .menu {
  display: flex;
  align-items: center;
  height: 100%;
}

.head > .pc_menu > .menu > li {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 30px;
  position: relative;
  cursor: pointer;
}

.head > .pc_menu > .menu > li > a {
  font-size: 18px;
  font-weight: 800;
  color: #222222;
  position: relative;
}

.head > .pc_menu > .menu > li > a::after {
  position: absolute;
  content: '';
  width: 6px;
  height: 6px;
  background-color: #00408E;
  border-radius: 100%;
  top: -3px;
  transition: .4s ease;
  opacity: 0;
}

.head > .pc_menu > .menu > li > .sub {
  display: none;
  position: absolute;
  z-index: 15;
  top: 75px;
  left: -10px;
  background: rgba(255, 255, 255, 0.95);
  width: 115px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.018), 0 1px 1px rgba(0, 0, 0, 0.046);
  padding: 5px;
}

.head > .pc_menu > .menu > li > .sub > li {
  padding: 10px;
}

.head > .pc_menu > .menu > li > .sub > li > a {
  font-size: 15px;
  font-weight: 600;
  color: inherit;
}

.head > .pc_menu > .menu > li > .sub > li > a:hover {
  color: #00408E;
}

.head > .pc_menu > .menu > li:hover > a {
  color: #00408E;
  transition: .2s ease;
}

.head > .pc_menu > .menu > li:hover > a::after {
  opacity: 1;
  transition: .2s ease-in-out;
}

.m_list {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.m_list.on {
  display: block;
}

.m_list a {
  color: #222222;
  transition: .4s ease;
}

.m_list a > svg {
  width: 27px;
  height: 20px;
  margin-left: 5px;
  transition: .4s ease;
}

.m_list > li {
  padding: 15px 0;
}

.m_list > li:hover > a {
  color: #00408E;
}

.m_list > li:hover svg > path {
  fill: #00408E;
}

.m_list > li > a {
  font-size: 30px;
  font-weight: 800;
}

.m_list > li .m_sub {
  padding: 15px 0;
  display: none;
}

.m_list > li .m_sub > li {
  padding: 10px 0;
}

.m_list > li .m_sub > li > a {
  font-size: 22px;
  font-weight: 600;
  transition: .2s ease;
}

.m_list > li .m_sub > li:hover > a {
  color: #266096;
}

.subClick.on svg {
  transform: rotate(-180deg);
}

.m_menuBtn {
  display: none;
  align-items: center;
  width: 25px;
  height: 100%;
  cursor: pointer;
}

.m_menuBtn > span {
  position: relative;
  display: block;
}

.m_menuBtn > span::after, .m_menuBtn > span::before {
  content: "";
  position: absolute;
  left: 0;
  top: -7px;
}

.m_menuBtn > span::after {
  top: 7px;
}

.m_menuBtn.on span {
  background-color: transparent;
}

.m_menuBtn.on span::before {
  transform: rotate(45deg) translate(5px, 5px);
}

.m_menuBtn.on span::after {
  transform: rotate(-45deg) translate(5px, -5px);
}

.m_menuBtn span,
.m_menuBtn span:after,
.m_menuBtn span:before {
  width: 100%;
  height: 3px;
  background-color: #222222;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

footer {
  background-color: #333333;
  display: flex;
  align-items: center;
}

footer > div {
  margin: auto;
  color: #999999;
  font-size: 14px;
  font-weight: 600;
  padding: 35px 0;
}

footer > div > h2 {
  padding-bottom: 10px;
}

footer > div > ul > li {
  display: flex;
  line-height: 25px;
}

footer > div > ul > li > p {
  padding-right: 15px;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.in_sns {
  position: absolute;
  right: 10%;
  bottom: 5%;
  z-index: 4;
}

.in_sns .in_kakao button {
  position: relative;
}

.in_sns .in_kakao button::before {
  content: '';
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: #222222;
  border-radius: 50%;
  top: 16%;
  left: 16%;
  z-index: -1;
}

.in_sns .in_kakao img {
  width: 43px;
  height: 43px;
}

.in_sns .inquery {
  width: 43px;
  height: 43px;
  background: #00408E;
  border-radius: 50%;
  margin-top: 5px;
  text-align: center;
  line-height: 43px;
}

.in_sns .inquery button {
  font-size: 15px;
  color: #fff;
  font-weight: 500;
}

.in_sns .inquery_popup {
  width: 275px;
  position: fixed;
  right: 7%;
  bottom: 5%;
  z-index: 3;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.038), 0 1px 5px rgba(0, 0, 0, 0.076);
  border-radius: 5px;
  display: none;
}

.in_sns .inquery_popup h4 {
  background: #00408E;
  color: #fff;
  font-weight: bold;
  padding: 15px 0;
  text-align: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.in_sns .inquery_popup .puplist {
  padding: 16px 25px;
}

.in_sns .inquery_popup .puplist > div {
  position: relative;
}

.in_sns .inquery_popup .puplist input {
  width: 100%;
  height: 30px;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #999999;
}

.in_sns .inquery_popup .check {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 5px;
}

.in_sns .inquery_popup .check input {
  width: 12px;
  height: 12px;
  margin-right: 5px;
  margin-bottom: 0;
}

.in_sns .inquery_popup .check label {
  font-size: 12px;
  color: rgba(102, 102, 102, 0.533);
}

.in_sns .inquery_popup .button_in {
  text-align: center;
}

.in_sns .inquery_popup button {
  width: 80px;
  height: 30px;
  color: #fff;
  background: #00408E;
  padding: 5px 15px;
  border-radius: 3px;
  margin: 10px auto 0;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .wrap {
    width: 90%;
  }
  .box {
    padding: 50px 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 556px) {
  .box {
    margin-bottom: 10px;
  }
}

@media (max-width: 1050px) {
  .m_menuBtn {
    height: 70px;
    display: flex;
  }
}

@media (max-width: 556px) {
  .m_list a > svg {
    width: 20px;
  }
  .m_list > li .m_sub {
    padding: 5px;
  }
  .m_list > li > a {
    font-size: 25px;
  }
  .m_list > li .m_sub > li > a {
    font-size: 20px;
  }
}

@media (max-width: 1050px) {
  .head {
    height: 70px;
  }
  .head > .pc_menu .logo1 {
    width: 75%;
  }
  .head > .pc_menu > .menu {
    display: none;
  }
  .paddingBox {
    height: 70px;
  }
}

@media (max-width: 768px) {
  footer > div > ul > li:first-child {
    display: grid;
    grid-template-columns: 2fr 2fr;
  }
  footer > div > ul > li:last-child {
    display: block;
  }
}

@media (max-width: 556px) {
  .head > .pc_menu .logo1 {
    width: 70%;
  }
  footer > div {
    padding: 20px 0;
    font-size: 11px;
  }
  footer > div > h2 {
    padding-bottom: 5px;
  }
  footer > div > ul > li {
    line-height: 20px;
  }
}

@media (max-width: 768px) {
  .in_sns {
    right: 5%;
  }
  .in_sns .inquery_popup {
    width: 210px;
    right: 3%;
  }
  .in_sns .inquery_popup .puplist {
    padding: 10px;
  }
  .in_sns .inquery_popup .puplist .check label {
    font-size: 11px;
  }
}

@media (max-width: 556px) {
  .in_sns .in_kakao img {
    width: 38px;
    height: 38px;
  }
  .in_sns .inquery {
    width: 38px;
    height: 38px;
    line-height: 36px;
  }
  .in_sns .inquery button {
    font-size: 13px;
    font-weight: 400;
  }
  .in_sns .inquery_popup {
    width: 220px;
  }
  .in_sns .inquery_popup .puplist {
    padding: 15px;
  }
  .in_sns .in_kakao button::before {
    top: 10%;
    left: 10%;
  }
}

.p_brochure {
  width: 80%;
  margin: auto;
  padding: 100px 0 120px;
}

.p_brochure .porH h2 {
  font-size: 45px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 700;
  color: #222222;
}

.p_brochure .porH .porName {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 40px;
}

.p_brochure .porH .porName li {
  padding: 0 30px;
  border-right: 1px solid #ccc;
  color: #888;
  font-size: 18px;
  font-weight: 600;
}

.p_brochure .porH .porName li:hover a, .p_brochure .porH .porName li a:focus {
  color: #00408E;
}

.p_brochure .porH .porName li:last-child {
  border-right: 0;
}

.p_brochure .brocMain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.p_brochure .brocMain > div {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 90%;
  height: 90%;
  margin: auto;
  transition: 0.4s ease;
}

.p_brochure .brocMain > div img {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .p_brochure .porH h2 {
    font-size: 6vw;
  }
  .p_brochure .porH .porName li {
    font-size: 16px;
  }
  .p_brochure .brocMain {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

@media (max-width: 556px) {
  .p_brochure .porH .porName li {
    font-size: 14px;
  }
}

@media (max-width: 1280px) {
  .p_wrap {
    width: 85%;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .p_wrap {
    width: 90%;
    padding: 50px 0;
    margin: auto;
  }
}

@media (hover: hover) {
  .brocMain > div:hover {
    transform: translateY(-15px);
  }
}
