.mMain li:first-child > .mSub-wrap {display: block;}
.mMain li:first-child> p { color: #215aaf; }
.mMain li:first-child > .mSub-wrap > ul > li:first-child > a {
    background-color: #215AAF;
    color: #fff;
}