.mMain li:first-child > .mSub-wrap {display: block;}
.mMain li:first-child > p {color: #215AAF;}
.mMain li:first-child > .mSub-wrap > ul > li:nth-child(2) > a {
    background-color: #215AAF;
    color: #fff;
}