.mMain li:nth-child(2)> .mSub-wrap {display: block;}
.mMain li:nth-child(2) > p {color: #215AAF;}
.mMain li:nth-child(2) > .mSub-wrap > ul > li:first-child > a {
    background-color: #215AAF;
    color: #fff;
}