
/* shop */

.shop{
    margin-top: 100px;
    text-align: center;
    background-image: url(../img/store/shbg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    /* background-color: rgb(238, 249, 255); */
}



.shop::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    opacity: 0.6;
}

.shop h3 {
    font-size: 60px;
    font-weight: 600;
    color: #1f1f1f;
    text-align: center;
}

.shop p {
    font-weight: 400;
    text-align: center;
    font-size: 18px;
}

.wrap.pd {
    margin: auto;
    padding: 50px 220px 100px 220px;
    
    /* opacity: 0; */
}

.sh1 img{
    width: 100%;
}

.sh1 a{
    display: block;
}

.sh1{
    padding-top: 25px;

}

.sh2 {
    text-align: left;
}

.sh2 ul li {
    font-size: 18px;
}

.sh2 ul li:first-child {
    font-size: 30px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #2b2b2b;
}

.sh2 ul li span {
    color: #545454;
    font-weight: 500;
}

.sh2 ul li b {
    display: inline-block;
    width: 100px;
    color: #115182;
}

/*모바일 메뉴*/
.mMain li:nth-child(5) > a {color: #215AAF;}


/* 매장 내부 슬라이드 */
.swiper-container {
    width: 100%;
    height:100%;
    display: none;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #000;

  }

  .swiper-slide img {
    width: auto;
    height: auto;
    width: 100%;
    max-height: 100%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
  }


.blackb{
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    margin: auto;
}



.swiper-container {
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 102;
    display: none;
    width: 50%;
    height: 75%;
  }

  .swiper-slide {
      width: 100%;
      height: 100%;
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
 

.swiper-button-next:after, .swiper-button-prev:after{
    font-size: 25px;
    color: #222222;
    font-weight: 800;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 3%;
}

:root {
    --swiper-theme-color: #222222;
}



.shcl{
   position: absolute;
   top: 3.5%;
   right: 20px;
   z-index: 102;
}

.shcl img {
    width: 20px;
}

.blackb h3{
    width: 100%;
    color: #222222;
    font-size: 30px;
    top: 10%;
    position: absolute;
    text-align: center;
    z-index: 103;
}

.swiper-button-next, .swiper-button-prev{
    position: absolute;
    top: 95.5%;
    outline: none;
}

.swiper-button-next{
    right: 20px;
}

.swiper-button-prev{
    left: 20px;
}



/* flexible */
@media(max-width : 1400px){
    .swiper-container{ height: 62%;}
}


@media(max-width : 1280px){
    .swiper-container{ width: 60%; height: 68%;}

    .wrap{width: 100%;}
}

@media(max-width : 1050px){
    .wrap.pd{ padding: 50px 150px 100px 150px;}
   

    .shop{ margin-top: 80px;}
    .swiper-container{width: 65%; height: 64%;}


}

@media(max-width : 768px){
    .sh1{ padding-top: 25px}
    .wrap.pd{ padding: 70px 70px;}
    .shop h3{ font-size: 40px;}
    .shop p {font-size: 16px;}
    .sh2 ul li:first-child{ font-size: 25px;}
    .sh2 ul li{font-size: 16px;}
    .swiper-container{ height: 46%;}
    .shcl img{ width: 16px;}
    .swiper-button-next:after, .swiper-button-prev:after{
        font-size: 16px;
        
    }
    .swiper-button-next, .swiper-button-prev{
        top: 94.5%;
    }

}

@media(max-width : 550px){
    .wrap.pd{ padding: 50px 50px;}
    .shop h3{ font-size: 25px;}
    .shop p {font-size: 14px;}
    .sh2 ul li:first-child{ font-size: 18px; padding: 5px 0; padding-top: 5px;}
    .sh2 ul li{font-size: 14px; margin-bottom: 5px;}
    .sh2 ul li span{ display: table;}
    .swiper-container{ width: 85%; height: 45%; margin-top: 160px;}
    .swiper-button-next, .swiper-button-prev{
        top: 91.5%;
        
    }
    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{ bottom: 6%;}
    .shcl { top: 6%;}


}