@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');

*{margin: 0; padding: 0;}
body{font-family: 'Noto Sans KR', sans-serif;
font-family: 'Noto Serif KR', serif; color: #2F3540;}
li{list-style: none;}
a{color: inherit; text-decoration: none;}
.wrap{width: 1280px; margin: auto;position: relative;}
.hide{display: none;}

header{}
.h1{float: right; height: 50px;}
.h1 li{float: left;}
.h1 a{display: block; padding-top: 17px; padding-bottom: 12px; padding-left: 30px;font-size: 15px; font-weight: 600;}
.h2{clear: both; width: 100%; height: 100px; background-color: #2F3540; color: #fff;}
.h2 h1{float: left;padding: 24px 100px 24px 0;}
.h2 nav{}
.h2 .main>li{float: left; padding: 35px;font-size: 20px; font-weight: 400;position: relative;}
.sub>li:hover>a{font-weight: 700;  text-decoration: underline;}
.h2 .sub{position: absolute;top: 100px;left: 0; color: #2F3540; width: 1000px; z-index: 30; text-align: center;}
.h2 .sub li a{display: block; padding: 15px;}
/*.h2 .sub:first>li{font-weight: bold;}*/
.h2 .sub.ca>li{float: left; padding: 15px; width: 150px;}
.h2 .sub.ca>li a{}
.h2 .sub2>li:hover>a{background-color: bisque;}
.bg{width: 1280px; height: 300px;background-color: #fff; position: absolute;top: 100px; left: 0;z-index: 20;border-radius: 0 0 30px 30px;display: none;}
.h2 .ca{width: 1280px; height: 350px; background-color: #fff; margin-left: -380px; border-radius: 0 0 20px 20px; display: none;}
.h2 .sub.ca>li>a{display: block;width: 150px; margin-left: -10px;}
.best>li:hover>a{background-color: bisque;}
.h2 .sub.best{width: 200px; height: 300px; background-color: #fff; margin-left: -40px; border-radius: 0 0 20px 20px;display: none;}
.h2 .sub.best>li>a{display: block; width: 150px; margin-left: 10px;}
.best>li:hover>a{background-color: bisque;}
.h2 .sub.event{width: 200px; height: 200px; background-color: #fff; margin-left: -40px; border-radius: 0 0 20px 20px;display: none;}
.h2 .sub.event>li>a{display: block;width: 150px; margin-left: 10px;}
.event>li:hover>a{background-color: bisque;}

#topca {width: 100%; height: 38px;border-bottom: 1px solid rgba(0,0,0,0.1);}
.ttit {width: 1280px; height: 38px; margin: auto;position: relative;}
.ttit>span{float: left; position: absolute; top: 10px; left: 0;  font-size: 15px; font-weight: 400; color: #666A73;}
.ttit>span>a:last-child{color: #2F3540; font-weight: 700;}

/*사이드메뉴*/

.items{width: 1280px; margin: auto; position: relative;  }
/*.side::after{clear: both;}*/

#sideMenu{}
#sideMenu .Smain{float: left; position: absolute; padding-top: 50px;}
#sideMenu .Smain>li>a{font-weight: 700;font-size: 18px; }


.Smain>li {border-bottom: 1px solid rgba(0,0,0,0.1); width: 200px;}
.Smain>li:last-child {border: 0;}
.Smain>li>a{display: block;padding: 12px 0;}

.Ssub>li>a{display: block;padding: 14px 0; color: #666A73; font-size: 15px; font-weight: 500;}
.Ssub>li:hover>a{color: #2F3540; text-decoration: underline; font-weight: 600; }
.Ssub>li:first-child{border-top: 1px solid rgba(0,0,0,0.1); padding-top: 10px;  }
.Ssub>li:last-child{padding-bottom: 10px;}
.Ssub>li:first-child>a{color: #2F3540; text-decoration: underline; font-weight: 600;}

/*#sideMenu .Ssub{display: none;}*/
#sideMenu .Smain li:nth-child(1)>ul{display: none;}
#sideMenu .Smain li:nth-child(2)>ul{display: none;}
#sideMenu .Smain li:nth-child(3)>ul{display: none;}
#sideMenu .Smain li:nth-child(4)>ul{display: none;}

#sideMenu{position: relative;}


.item{width: 980px; float: right;padding-right: 30px;}

.item>h2{margin: 50px 0 40px 0;}
.item>ul{float: right; margin-bottom: 25px; }
.item>ul>li{float: left; width: 300px; height: 450px;margin-right: 40px; }
.item ul li:nth-child(3n){margin-right: 0;}
.item>ul>li>a>img{margin-bottom: 10px;}
.item>ul>li>button>img{width: 25px;}
.item>ul>li>button{background-color: transparent; border: 0; cursor: pointer;}


.item>ul>li>a{float: right; font-size: 18px; font-weight: 700; }

.item>ul>li>div{float: right; text-align: right;display: block;width: 100%;}


.item>ul>li>div>.price{font-size: 20px; font-weight: 600;font-family: 'Noto Sans KR';  }
.item>ul>li>div>.n2{font-size: 14px; }

.item>.num{text-align: center;margin-bottom: 50px; }
.item>.num>a{font-size: 16px;  margin: 3px; font-weight: 600;padding: 0 5px; }
.item>.num>a:first-child{color: #fff; background-color: #2F3540; border-radius: 2px; }






footer{clear: both; width: 100%; height: 261px; background-color: #666A73; position: relative;}
footer .d1{float: left; width: 700px;}
footer .d1 ul li{float: left; font-size: 15px; color: #2F3540; padding-right: 30px; padding-top: 18px;}
footer .d1 h5{clear: both; padding-top: 103px;float: left;}
footer .d1 h5 img{}
footer .d1 .capy{float: left;padding-top: 60px; font-size: 13px; color: #fff; padding-left: 57px; font-weight: 100;}

footer .d2{clear: both;position: absolute;top: 25px; right: 0;}
footer .d2 ul{}
footer .d2 ul li{float: right; padding-left: 25px; padding-bottom: 56px;}
footer .d2 .capy2{color: #fff; float: right; font-weight: 100; text-align: right;}
footer .d2 .capy2:first-child{font-size: 15px;padding-bottom: 5px;}
footer .d2 .capy2 p:nth-child(2){font-size: 30px;padding-bottom: 7px;}
footer .d2 .capy2:last-child{font-size: 13px;}