@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');

*{margin: 0; padding: 0;}
body{font-family: 'Noto Sans KR', sans-serif;
font-family: 'Noto Serif KR', serif; color: #2F3540;}
li{list-style: none;}
a{color: inherit; text-decoration: none;}
.wrap{width: 1280px; margin: auto;position: relative;}
.hide{display: none;}
button{outline-style: none;}

header{}
.h1{float: right; height: 50px;}
.h1 li{float: left;}
.h1 a{display: block; padding-top: 17px; padding-bottom: 12px; padding-left: 30px;font-size: 15px; font-weight: 600;}
.h2{clear: both; width: 100%; height: 100px; background-color: #2F3540; color: #fff;}
.h2 h1{float: left;padding: 24px 100px 24px 0;}
.h2 nav{}
.h2 .main>li{float: left; padding: 35px;font-size: 20px; font-weight: 400;position: relative;}
.sub>li:hover>a{font-weight: 700;  text-decoration: underline;}
.h2 .sub{position: absolute;top: 100px;left: 0; color: #2F3540; width: 1000px; z-index: 30; text-align: center;}
.h2 .sub li a{display: block; padding: 15px;}
/*.h2 .sub:first>li{font-weight: bold;}*/
.h2 .sub.ca>li{float: left; padding: 15px; width: 150px;}
.h2 .sub.ca>li a{}
.h2 .sub2>li:hover>a{background-color: bisque;}
.bg{width: 1280px; height: 300px;background-color: #fff; position: absolute;top: 100px; left: 0;z-index: 20;border-radius: 0 0 30px 30px;display: none;}
.h2 .ca{width: 1280px; height: 350px; background-color: #fff; margin-left: -380px; border-radius: 0 0 20px 20px; display: none;}
.h2 .sub.ca>li>a{display: block;width: 150px; margin-left: -10px;}
.best>li:hover>a{background-color: bisque;}
.h2 .sub.best{width: 200px; height: 300px; background-color: #fff; margin-left: -40px; border-radius: 0 0 20px 20px;display: none;}
.h2 .sub.best>li>a{display: block; width: 150px; margin-left: 10px;}
.best>li:hover>a{background-color: bisque;}
.h2 .sub.event{width: 200px; height: 200px; background-color: #fff; margin-left: -40px; border-radius: 0 0 20px 20px;display: none;}
.h2 .sub.event>li>a{display: block;width: 150px; margin-left: 10px;}
.event>li:hover>a{background-color: bisque;}

#topca {width: 100%; height: 38px;border-bottom: 1px solid rgba(0,0,0,0.1);}
.ttit {width: 1280px; height: 38px; margin: auto;position: relative;}
.ttit>span{float: left; position: absolute; top: 10px; left: 0;  font-size: 15px; font-weight: 400; color: #666A73;}
.ttit>span>a:last-child{color: #2F3540; font-weight: 700;}

/*상품 썸넬 정보이미지*/

#pro{width: 1080px; margin:auto; margin-top: 50px;}
#pro>img { float: left;} 
#pro>.pro1-1{width: 450px; float: right;text-align: right;}
.probox ul{border-top: 1px solid rgba(0,0,0,0.1); }
.exp2{border-top: 1px dashed rgba(0,0,0,0.1); }
.pro1-1>.exp1>p{font-size: 30px; font-weight: 700; padding: 5px 0;}
.pro1-1>.exp1>p:nth-child(2){margin-bottom: 20px;}


.probox {overflow: auto; }
.probox select{font-size: 18px; font-family: "Noto Serif KR"; padding: 2px; width: 80%;float: right;margin: 20px 0 40px 0; font-weight: 500;}
.probox select>option{font-weight: 400;}
.probox select>option:first-child{font-weight: 400; }
.probox select::after{ }



.probox ul{width: 100%; display: flex; justify-content: space-between; padding: 20px 0;}
.probox ul li{float: left;}
.probox input{width: 25px; text-align: center; }
.probox ul li:nth-child(2){float: left;}
.probox ul li>span{font-family: 'Noto Sans KR';font-weight: 500;}
.probox ul li:last-child{position: relative; top: 3px;}

.probox ul li button{ border: 0; background-color: transparent; cursor: pointer; }

.pBtn>button{display: block;}

.exp2{float: right; padding: 20px 0; margin-bottom: 20px; width: 100%; font-family: 'Noto Sans KR';}
.exp2>p{font-weight: 500; font-size: 22px;}
.exp2>p>span{color: #D51111; font-size: 30px;  }

/*상품 추가 표시활성화*/
.probox>ul{display: none;}
/*.probox>.pr1{display: flex;}*/


/*구매찜장바구니버튼*/
.btn{width: 450px; float: right; display: flex; justify-content: space-between; clear: both;}
.btn>button{cursor: pointer;}
.btn>button{border: 2px solid #8c8681; background-color: transparent; /*border-radius: 5px;*/ font-size: 20px; font-family: 'Noto Serif KR'; color: #2F3540; padding: 3px 40px; font-weight: 600; }
.btn>button:last-child{background-color: #8c8681;color: #fff; border: 0;}









/*탭메뉴*/
.pro2,.pro2-1,.pro3,.pro4{width: 1080px; margin: auto;clear: both; }



/*탭메뉴 바*/
.pro2>ul{width: 100%;float: left; text-align: center; font-size: 18px; font-weight: 500; margin-top: 70px; margin-bottom: 50px;} 
.pro2>ul>li{float: left; width: 360px; border: 1px solid #666A73;box-sizing: border-box;  }
.pro2>ul>li:nth-child(2){border-left: 0;border-right: 0;}

/*탭메뉴 클릭 버튼 활성화*/
.pro2>ul>li:first-child{background-color: #666A73; color: #fff; }

/*상품설명/리뷰/문의내용*/
.pro2>ul>li a{display: block;padding: 5px 0; }
.pro2{position: relative; }
.pro2-1>.art1>img{padding-bottom: 50px;}
article{width: 100%;}
.pro3>.art2{}
.pro3>.art2>section{height: 200px; }
.pro3>.art2>button{float: right; margin-right: 20px; }

.pro3>.art2>section>h4{margin-bottom: 100px;font-size: 18px;}
.pro4>.art3{text-align: center;}
.pro4>.art3>p{ padding: 15px;padding-top: 50px;}
 article button{border: 0; background-color: #666A73; color: #fff;padding: 5px 10px;; font-family: 'Noto Serif KR';font-weight: 500; font-size: 14px; border-radius: 4px; cursor: pointer;}

.art2, .art3{padding: 0 10px;}
.pro2{position: relative;}
.pro3{ top: 160px; height: 500px;}
.pro4{ top: 160px; height: 300px;}


/*텝메뉴 활성화 선택자*/
/*.pro2-1{display: none;}*/
.pro3{display: none;}
.pro4{display: none;}







footer{clear: both; width: 100%; height: 261px; background-color: #666A73; position: relative;}
footer .d1{float: left; width: 700px;}
footer .d1 ul li{float: left; font-size: 15px; color: #2F3540; padding-right: 30px; padding-top: 18px;}
footer .d1 h5{clear: both; padding-top: 103px;float: left;}
footer .d1 h5 img{}
footer .d1 .capy{float: left;padding-top: 60px; font-size: 13px; color: #fff; padding-left: 57px; font-weight: 100;}

footer .d2{clear: both;position: absolute;top: 25px; right: 0;}
footer .d2 ul{}
footer .d2 ul li{float: right; padding-left: 25px; padding-bottom: 56px;}
footer .d2 .capy2{color: #fff; float: right; font-weight: 100; text-align: right;}
footer .d2 .capy2:first-child{font-size: 15px;padding-bottom: 5px;}
footer .d2 .capy2 p:nth-child(2){font-size: 30px;padding-bottom: 7px;}
footer .d2 .capy2:last-child{font-size: 13px;}